<%# TODO extract this to a smart partial/helper/presenter %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('dashboard.works.index.heading'), dashboard_root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= t('dashboard.work_versions.edit.breadcrumb', title: truncate(@work_version.title, escape: false)) %>
    </li>
  </ol>
</nav>

<%= render 'dashboard/work_versions/edit_progress', step: 1, work_version: @work_version %>

<div class="row">
  <div class="col">
    <h1><% t('dashboard.file_list.edit.heading') %></h1>

    <% if @file_version_memberships.any? %>
      <%= render 'uploaded_file_list', file_version_memberships: @file_version_memberships %>
    <% end %>

    <%= render 'upload_form', version: @work_version %>
  </div>
</div>
