<%# Note `change` is a WorkVersionChangePresenter %>
<div id="change_<%= change.id %>" class="work-history__change work-history__change--work-version">
  <strong><%= change.action %></strong>

  <% if change.changed_attributes.any? %>
    <span class="work-history__change-changed-attributes"><%= change.changed_attributes_truncated.join(', ') %></span>
    <a class="btn btn-outline-primary btn-xs" data-toggle="collapse" href="#change_diff_<%= change.id %>" role="button" aria-expanded="false" aria-controls="collapseExample"><%= t 'dashboard.work_history.show_diff' %></a>
  <% end %>

  <div class="work-history__change-metadata">
    <span class="work-history__change-timestamp"><%= change.timestamp %></span>
    <span class="text-secondary"><%= t 'dashboard.work_history.by' %></span>
    <span class="work-history__change-user"><%= change.user.access_id %></span>
  </div>

  <% if change.changed_attributes.any? %>
    <div id="change_diff_<%= change.id %>" class="work-history__diff collapse">
      <% change.diff_presenter.hash.each do |term, value| %>
        <p>
        <strong><%= WorkVersion.human_attribute_name(term) %>:</strong>
        <%= value.to_s(:html).html_safe %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>
