<table class="table meta-table">
  <tbody>
  <% if display_thumbnail? %>
    <tr>
      <th scope="row" class="<%= css_class "Thumbnail" %>">Thumbnail</th>
      <td><%= render ThumbnailComponent.new(resource: resource) %></td>
    </tr>
  <% end %>
  <% attributes.each do |attr, label, value| %>
    <tr>
      <th scope="row" class="<%= css_class attr %>"><%= label %></th>
      <td class="<%= css_class attr %>"><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>
