<span> | </span>
<span data-controller="clipboard">
  <span class="meta__signature" data-target="clipboard.source" data-source="<%= value %>">
    <%= label %>: <%= signature_display %>
  </span>
  <button class="btn btn-sm btn-link px-0"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="<%= value %>"
          data-action="clipboard#copy">
    <span class="material-icons material-icons--copy"><%= t('resources.signature.copy_icon') %></span>
  </button>
</span>
