<div class="<%= html_classes %>">
  <% if display_thumbnail? %>
    <img src="<%= thumbnail_url %>" class="bordered-thumbnail-image" alt="Thumbnail image for <%= resource.title %>">
  <% else %>
    <i class='material-icons material-icons--thumbnail' alt="Default thumbnail image for <%= resource.title %>"><%= icon %></i>
  <% end %>
</div>
