<div class="form-wrapper form-wrapper--wide">
  <div class="keyline keyline--left mb-3">
    <h4><%= t('dashboard.work_form.contributors.edit.creators_heading') %></h4>
  </div>
</div>

<div id="creator_aliases"
     data-controller="contributors"
     data-contributors-new="<%= new_dashboard_actor_path %>"
     data-contributors-post="<%= dashboard_work_form_aliases_new_path %>"
     data-contributors-badge-class="badge--index">
  <%= form.fields_for :creator_aliases do |creator_alias| %>
    <%= render 'dashboard/work_form/contributors/creator_alias_fields', form: creator_alias %>
  <% end %>
</div>
