<div class="form-wrapper">
  <%= render 'form_fields/select',
             form: form,
             attribute: :rights,
             required: true,
             options_for_select: WorkVersion::Licenses.options_for_select_box,
             include_blank: true %>
</div>

<%= form.fields_for :work do |work_form| %>
  <div class="form-wrapper">

    <% if policy(@resource).edit_initial_draft? %>
      <% if deposit_pathway.allows_visibility_change? %>
        <%= render 'visibility_field', form: work_form %>
      <% end %>

      <div class="form-group mt-5">
        <div class="keyline keyline--left">
          <h2 id="<%= t('dashboard.work_versions.edit.embargo').parameterize %>" class="h4"><%= t('dashboard.work_versions.edit.embargo') %></h2>
        </div>

        <p><%= t('dashboard.works.edit.embargo.explanation') %></p>

        <%= render 'form_fields/date', form: work_form, attribute: :embargoed_until %>
      </div>
    <% end %>

    <% if allow_curation? || @resource.draft_curation_requested %>
      <%= render 'curation', form: form %>
    <% end %>

    <% if allow_mint_doi? %>
      <%= render 'doi', form: form %>
    <% end %>

    <div class="form-group mt-5">
      <div class="keyline keyline--left">
        <h2 id="<%= WorkVersion.human_attribute_name(:depositor_agreement).parameterize %>" class="h4">
          <%= WorkVersion.human_attribute_name(:depositor_agreement) %>
        </h2>
      </div>

      <div class="form-check">
        <%= form.check_box :depositor_agreement,
                           required: true,
                           class: 'form-check-input' %>

        <%= form.label :depositor_agreement, class: 'form-check-label' do %>
          <%= t('dashboard.work_versions.publish.agreement_preamble') %>
          <%= link_to t('dashboard.work_versions.publish.agreement_link'), agreement_path, target: :_blank, rel: 'noopener' %>.
        <% end %>

      </div>
    </div>
  </div>
<% end %>
