<div class="form-wrapper">
  <%= render 'form_fields/select',
             form: form,
             attribute: :rights,
             options_for_select: WorkVersion::Licenses.options_for_select_box,
             aria_required: true,
             include_blank: true %>
</div>

<%= form.fields_for :work do |work_form| %>
  <div class="form-wrapper">

    <% if policy(@resource).edit_initial_draft? %>
      <% if deposit_pathway.allows_visibility_change? %>
        <%= render 'visibility_field', form: work_form %>
      <% end %>

      <div class="mb-3 mt-5">
        <div class="keyline keyline--left">
          <h2 id="<%= t('dashboard.work_versions.edit.embargo').parameterize %>" class="h4"><%= t('dashboard.work_versions.edit.embargo') %></h2>
        </div>

        <p><%= t('dashboard.works.edit.embargo.explanation') %></p>

        <%= render 'form_fields/date', form: work_form, attribute: :embargoed_until %>
      </div>
    <% end %>

    <% if allow_curation? || @resource.draft_curation_requested %>
      <%= render 'curation', form: form %>
    <% end %>

  <!-- Remove while remediation request is unavailable
    <% if allow_accessibility_remediation? || @resource.accessibility_remediation_requested %>
      <%= render 'remediation', form: form %>
    <% end %>
  -->

    <% if has_mint_doi_option? %>
      <%= render 'doi', form: form %>
    <% elsif deposit_pathway.instrument? %>
      <div class="keyline keyline--left">
        <h4><%= t 'dashboard.form.publish.auto_doi.header' %></h4>
      </div>
      <p><%= t 'dashboard.form.publish.auto_doi.message' %></p>
    <% end %>
  </div>
<% end %>

<% if current_user.admin? %>
  <%= render 'remediated_version', form: form %>
<% end %>