<dialog id="hidden-publish-dialog" data-target="publishing-check.dialogBox">
  <div class="form-check">
    <div data-target="publishing-check.publishText">
      <h4><%= t('dashboard.work_versions.publish.publish_heading') %> </h4>
      <p><%= t('dashboard.work_versions.publish.publish_message') %>  </p>
    </div>
    <div data-target="publishing-check.curationText">
      <h4><%= t('dashboard.work_versions.publish.request_curation_heading') %> </h4>
      <p><%= t('dashboard.work_versions.publish.request_curation_message') %>  </p>
    </div>
    <div data-target="publishing-check.remediationText">
      <h4><%= t('dashboard.work_versions.publish.request_remediation_heading') %> </h4>
      <p><%= t('dashboard.work_versions.publish.request_remediation_message') %>  </p>
    </div>
    <p><%= t('dashboard.work_versions.publish.acknowledgment_preface') %></p>
    <div class="form-group mt-2">
      <div class="keyline keyline--left">
        <h2 id="<%= WorkVersion.human_attribute_name(:depositor_agreement).parameterize %>" class="h4">
          <%= WorkVersion.human_attribute_name(:depositor_agreement) %>
        </h2>
      </div>
      <div>
      <%= f.check_box :depositor_agreement,
                      required: true,
                      data: { target: 'publishing-check.agreementCheckbox' },
                      class: 'form-check-input' %>

      <%= f.label :depositor_agreement, class: 'form-check-label' do %>
          <%= t('dashboard.work_versions.publish.acknowledgments.agreement_preamble') %>
          <%= link_to t('dashboard.work_versions.publish.acknowledgments.agreement_link'), agreement_path, target: :_blank, rel: 'noopener' %>.
      <% end %>
      </div>

      <div>
        <%= f.check_box :psu_community_agreement,
                        data: { target: 'publishing-check.psuCommunityCheckbox' },
                        class: 'form-check-input' %>

        <%= f.label :psu_community_agreement, class: 'form-check-label' do %>
        <%= t('dashboard.work_versions.publish.acknowledgments.psu_community') %>
        <% end %>
      </div>

      <div>
        <%= f.check_box :accessibility_agreement,
                        data: { target: 'publishing-check.accessibilityCheckbox' },
                        class: 'form-check-input' %>

        <%= f.label :accessibility_agreement, class: 'form-check-label' do %>
          <%= t('dashboard.work_versions.publish.acknowledgments.accessibility').html_safe %>
        <% end %>
      </div>
      <div>
        <%= f.check_box :sensitive_info_agreement,
                        data: { target: 'publishing-check.sensitiveInfoCheckbox' },
                        class: 'form-check-input' %>

        <%= f.label :sensitive_info_agreement, class: 'form-check-label' do %>
        <%= t('dashboard.work_versions.publish.acknowledgments.sensitive_info').html_safe %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-around">
      <%= f.submit  t('dashboard.form.actions.confirm.publish'),
                    name: 'publish',
                    data: { target: 'publishing-check.publishButton' },
                    class: 'btn btn-primary btn--rounded d-none' %>
      <%= f.submit  t('dashboard.form.actions.confirm.request_curation'),
                    name: 'request_curation',
                    data: { target: 'publishing-check.curationButton' },
                    class: 'btn btn-primary btn--rounded d-none' %>
      <%= f.submit  t('dashboard.form.actions.confirm.request_remediation'),
                    name: 'request_remediation',
                    data: { target: 'publishing-check.remediationButton' },
                    class: 'btn btn-primary btn--rounded d-none' %>
    <button class='btn btn-outline-dark btn--rounded ms-2 z'
            type='button' data-bs-toggle='modal-tooltip'
            data-bs-placement='top' data-bs-container='body'
            data-title="<%= t('dashboard.form.actions.confirm.cancel_tooltip') %>"
            data-action='publishing-check#closeDialog'>
            <%= t('dashboard.form.actions.confirm.cancel') %>
    </button>
  </div>
</dialog>
