<div class="keyline keyline--left">
  <h2 id="<%= WorkVersion.human_attribute_name(:visibility).parameterize %>" class="h4">
    <%= WorkVersion.human_attribute_name(:visibility) %>
  </h2>
</div>

<div class="form-group">
  <% Permissions::Visibility.options_for_select_box.each do |lbl, val| %>
    <div class="form-check form-check-inline">
      <%= form.radio_button :visibility, val, class: 'form-check-input' %>
      <%= form.label :visibility, lbl, value: val, class: 'form-check-label' do %>
        <%= lbl %>
        <% if I18n.exists? "helpers.hint.permissions.visibility.#{val}" %>
          <span class="label__help"><%= t "helpers.hint.permissions.visibility.#{val}" %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="form-group mt-5">
  <div class="keyline keyline--left">
    <h2 id="<%= t('dashboard.works.edit.embargo.heading').parameterize %>" class="h4"><%= t('dashboard.works.edit.embargo.heading') %></h2>
  </div>

  <p><%= t('dashboard.works.edit.embargo.explanation') %></p>

  <%= render 'form_fields/date', form: form, attribute: :embargoed_until %>
</div>
