<% accepted_version = OpenAccessVersion::VersionValues::ACCEPTED %>
<% published_version = OpenAccessVersion::VersionValues::PUBLISHED %>
<% permissions_value = lambda do |param_key, method_name, version|
     params.dig(:oaw_permissions, param_key) || @permissions&.public_send(method_name, version)
   end %>
<% open_access_version_data = {
     controller: 'open-access-version',
     open_access_version_id: @resource.id,
     open_access_version_accepted_version_value: accepted_version,
     open_access_version_published_version_value: published_version,
     open_access_version_accepted_version_label: accepted_version.underscore.humanize.downcase,
     open_access_version_published_version_label: published_version.underscore.humanize.downcase,
     open_access_version_accepted_version_rights: permissions_value.call(:accepted_version_rights, :licence, accepted_version),
     open_access_version_published_version_rights: permissions_value.call(:published_version_rights, :licence, published_version),
     open_access_version_accepted_version_statement: permissions_value.call(:accepted_version_statement, :publisher_statement, accepted_version),
     open_access_version_published_version_statement: permissions_value.call(:published_version_statement, :publisher_statement, published_version),
     open_access_version_accepted_version_embargo: permissions_value.call(:accepted_version_embargo, :embargo_end_date, accepted_version),
     open_access_version_published_version_embargo: permissions_value.call(:published_version_embargo, :embargo_end_date, published_version),
     open_access_version_current_version: @current_version || accepted_version,
     open_access_version_other_version: @other_version,
     open_access_version_versions_found: params.dig(:oaw_permissions, :versions_found) || @permissions&.versions_found?.to_json,
     open_access_version_not_found_message: t('dashboard.works.edit.open_access_version.permissions_not_found'),
     open_access_version_other_message: t('dashboard.works.edit.open_access_version.other_version_preferred', this_version: '__THIS__', other_version: '__OTHER__')
   } %>

<div class="container">
  <div class="row">
    <div class="col" data-controller="unsaved-changes" data-unsaved-changes-prompt="<%= t 'dashboard.form.unsaved_changes_prompt' %>">
      <h1 class="text-center mb-4 h4"><%= t("dashboard.form.heading.#{param_key}.edit") %></h1>

      <%= render FormTabsComponent.new(resource: @resource, current_controller: controller_name) %>

      <div class="tab-content">
        <div class="tab-pane active show" <%= tag.attributes(data: open_access_version_data) %>>

          <%= form_with(
                model: @resource,
                url: dashboard_form_publish_path(@resource),
                local: true,
                id: 'file-uploader',
                data: {
                  target: 'unsaved-changes.form'
                }
              ) do |form| %>

              <%= hidden_field_tag 'oaw_permissions[accepted_version_rights]', @permissions&.licence(accepted_version) %>
              <%= hidden_field_tag 'oaw_permissions[published_version_rights]', @permissions&.licence(published_version) %>

              <%= hidden_field_tag 'oaw_permissions[accepted_version_statement]', @permissions&.publisher_statement(accepted_version) %>
              <%= hidden_field_tag 'oaw_permissions[published_version_statement]', @permissions&.publisher_statement(published_version) %>

              <%= hidden_field_tag 'oaw_permissions[accepted_version_embargo]', @permissions&.embargo_end_date(accepted_version) %>
              <%= hidden_field_tag 'oaw_permissions[published_version_embargo]', @permissions&.embargo_end_date(published_version) %>

              <%= hidden_field_tag 'oaw_permissions[versions_found]', @permissions&.versions_found? %>

            <%= render FormErrorMessageComponent.new(
                  form: form,
                  heading: t('.error_message', error: pluralize(form.object.errors.count, 'issue'))
                ) %>

            <%= render 'dashboard/form/type/work_version_fields', form: form, work_type_disabled: true %>
            <%= render "dashboard/form/details/#{@resource.form_partial}_fields", form: form, selected_version: @resource.open_access_version %>

            <% if deposit_pathway.instrument? %>
              <%= render 'dashboard/form/contributors/instrument_work_version_fields', form: form %>
            <% else %>
              <%= render 'dashboard/form/contributors/creators', form: form, resource_klass: 'work_version' %>
            <% end %>
            <%= render 'dashboard/form/contributors/contributors', form: form %>

            <div class="form-wrapper form-wrapper--wide">
              <div class="keyline keyline--left mb-3">
                <h4><%= t '.files' %></h4>
              </div>
            </div>
            <% if form.object.file_version_memberships.any? %>
              <%= render 'dashboard/form/files/uploaded_file_list', work_version: form.object %>
            <% end %>

            <% if @resource.open_access %>
              <div class="form-wrapper form-wrapper--wide">
                <div class="keyline keyline--left mb-3">
                  <h4><%= t '.version' %></h4>
                </div>
              </div>
              <%= render 'open_access_version', form: form %>
            <% end %>

            <div class="form-wrapper form-wrapper--wide">
              <div class="keyline keyline--left mb-3">
                <h4><%= t '.publishing_details' %></h4>
              </div>
            </div>
            <%= render 'fields', form: form %>

            <%= render 'dashboard/form/shared/action_footer',
                       form: form,
                       primary_action: form_should_publish? ? :publish : :finish %>

          <% end %>

        </div>
      </div>
    </div>
</div>
