<div class="container">
  <div class="row">
    <div class="col" data-controller="unsaved-changes" data-unsaved-changes-prompt="<%= t 'dashboard.form.unsaved_changes_prompt' %>">
      <h1 class="text-center mb-4 h4"><%= t("dashboard.form.heading.#{param_key}.edit") %></h1>

      <%= render FormTabsComponent.new(resource: @resource, current_controller: controller_name) %>

      <div class="tab-content">
        <div class="tab-pane active show">

          <%= form_with(
                model: @resource,
                url: dashboard_form_publish_path(@resource),
                local: true,
                id: 'file-uploader',
                data: {
                  target: 'unsaved-changes.form'
                }
              ) do |form| %>

            <%= render FormErrorMessageComponent.new(
                  form: form,
                  heading: t('.error_message', error: pluralize(form.object.errors.count, 'issue'))
                ) %>

            <%= render 'dashboard/form/type/work_version_fields', form: form, work_type_disabled: true %>
            <%= render "dashboard/form/details/#{@resource.form_partial}_fields", form: form %>

            <% if deposit_pathway.instrument? %>
              <%= render 'dashboard/form/contributors/instrument_work_version_fields', form: form %>
            <% else %>
              <%= render 'dashboard/form/contributors/creators', form: form, resource_klass: 'work_version' %>
            <% end %>
            <%= render 'dashboard/form/contributors/contributors', form: form %>

            <div class="form-wrapper form-wrapper--wide">
              <div class="keyline keyline--left mb-3">
                <h4><%= t '.files' %></h4>
              </div>
            </div>
            <% if form.object.file_version_memberships.any? %>
              <%= render 'dashboard/form/files/uploaded_file_list', work_version: form.object %>
            <% end %>

            <div class="form-wrapper form-wrapper--wide">
              <div class="keyline keyline--left mb-3">
                <h4><%= t '.publishing_details' %></h4>
              </div>
            </div>
            <%= render 'fields', form: form %>

            <%= render 'dashboard/form/shared/action_footer',
                       form: form,
                       primary_action: form_should_publish? ? :publish : :finish %>

          <% end %>

        </div>
      </div>
    </div>
</div>
