<% content_for :navbar_heading do %>
  <h1 class="navbar-brand navbar-brand--center slab-font"><%= t('navbar.heading.reports') %></h1>
<% end %>

<div class="container">
  <div class="row row--md-mb-3">
    <div class="col-md">
      <ul>
        <% if current_user.admin? %>
          <li><%= link_to 'All Files Report', dashboard_reports_all_files_path %></li>
          <li><%= link_to 'All Works Report', dashboard_reports_all_works_path %></li>
          <li><%= link_to 'All Work Versions Report', dashboard_reports_all_work_versions_path %></li>
          <li>
            <%= form_tag dashboard_reports_monthly_work_versions_path, method: :get do |f| %>
              <%= select_date(Date.today, prefix: 'report_date', order: [:month, :year], discard_day: true) %>
              <%= submit_tag 'Monthly Report', class: 'btn btn-primary' %>
            <% end %>
          </li>
        <% end %>

        <li>
          <%= form_tag dashboard_reports_monthly_user_work_versions_path, method: :get do |f| %>
            <%= select_date(Date.today, prefix: 'report_date', order: [:month, :year], discard_day: true) %>
            <%= submit_tag "User's Monthly Report", class: 'btn btn-primary' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
