<%= form_with(model: @work_version, url: url, local: true) do |form| %>
  <% if work_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('dashboard.work_versions.edit.error_message', error: pluralize(work_version.errors.count, 'error')) %></h2>

      <ul>
      <% work_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'fields', form: form %>

  <%= render 'dashboard/work_form/shared/action_footer', form: form, publish: false %>
<% end %>
