<div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :version_name %>
  <%= form.text_field :version_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :subtitle %>
  <%= form.text_field :subtitle, class: 'form-control' %>
</div>

<div class="form-group" data-controller="fields">
  <%= form.label :keywords %>
  <% form.object.keywords.push('').each do |keyword| %>
    <div class="input-group">
      <%= form.text_field :keywords, multiple: true, value: keyword, class: 'form-control' %>
    </div>
  <% end %>
</div>

<div class="form-group">
  <%= form.label :rights %>
  <%= form.text_field :rights, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :description %>
  <%= form.text_area :description, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :resource_type %>
  <%= form.text_field :resource_type, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :contributor %>
  <%= form.text_field :contributor, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :publisher %>
  <%= form.text_field :publisher, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :published_date %>
  <%= form.text_field :published_date, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :subject %>
  <%= form.text_field :subject, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :language %>
  <%= form.text_field :language, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :identifier %>
  <%= form.text_field :identifier, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :based_near %>
  <%= form.text_field :based_near, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :related_url %>
  <%= form.text_field :related_url, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :source %>
  <%= form.text_field :source, class: 'form-control' %>
</div>
