<%= form_with(model: @work_version, url: dashboard_work_version_path(@work_version), local: true) do |form| %>
  <% if work_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('dashboard.work_versions.edit.error_message', error: pluralize(work_version.errors.count, 'error')) %></h2>

      <ul>
      <% work_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form_fields/text', form: form, attribute: :title %>
  <%= render 'form_fields/text', form: form, attribute: :version_name %>
  <%= render 'form_fields/text', form: form, attribute: :subtitle %>
  <%= render 'form_fields/default', form: form, attribute: :keywords %>
  <%= render 'form_fields/text', form: form, attribute: :rights %>
  <%= render 'form_fields/text_area', form: form, attribute: :description %>
  <%= render 'form_fields/default', form: form, attribute: :resource_type %>
  <%= render 'form_fields/default', form: form, attribute: :contributor %>
  <%= render 'form_fields/default', form: form, attribute: :publisher %>
  <%= render 'form_fields/default', form: form, attribute: :published_date %>
  <%= render 'form_fields/default', form: form, attribute: :subject %>
  <%= render 'form_fields/default', form: form, attribute: :language %>
  <%= render 'form_fields/default', form: form, attribute: :identifier %>
  <%= render 'form_fields/default', form: form, attribute: :based_near %>
  <%= render 'form_fields/default', form: form, attribute: :related_url %>
  <%= render 'form_fields/default', form: form, attribute: :source %>

  <div class="actions">
    <%= link_to 'Back', dashboard_work_version_file_list_path(@work_version), class: 'btn btn-secondary' %>
    <%= form.submit 'Save and Continue', class: 'btn btn-primary' %>
  </div>
<% end %>
