<%= form_with(model: @work_version, url: dashboard_work_version_path(@work_version), local: true) do |form| %>
  <% if work_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('dashboard.work_versions.edit.error_message', error: pluralize(work_version.errors.count, 'error')) %></h2>

      <ul>
      <% work_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form_fields/text', form: form, attribute: :title %>
  <%= render 'form_fields/text', form: form, attribute: :subtitle %>
  <%= render 'form_fields/text', form: form, attribute: :version_name %>

  <div id="creator_aliases" class="mb-3">
    <%= form.fields_for :creator_aliases do |creator_alias| %>
      <%= render 'creator_alias_fields', f: creator_alias %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t('dashboard.work_versions.edit.add_creator'),
                                  form,
                                  :creator_aliases,
                                  # Ensure the associated Creator object exists, so its fields are rendered
                                  wrap_object: ->(creator_alias) { creator_alias.tap(&:build_actor) },
                                  class: 'btn btn-outline-success btn-sm' %>
    </div>
  </div>

  <%= render 'form_fields/multi_text', form: form, attribute: :keyword %>
  <%= render 'form_fields/text', form: form, attribute: :rights %>
  <%= render 'form_fields/multi_text_area', form: form, attribute: :description %>
  <%= render 'form_fields/multi_text', form: form, attribute: :resource_type %>
  <%= render 'form_fields/multi_text', form: form, attribute: :contributor %>
  <%= render 'form_fields/multi_text', form: form, attribute: :publisher %>
  <%= render 'form_fields/multi_text', form: form, attribute: :published_date %>
  <%= render 'form_fields/multi_text', form: form, attribute: :subject %>
  <%= render 'form_fields/multi_text', form: form, attribute: :language %>
  <%= render 'form_fields/multi_text', form: form, attribute: :identifier %>
  <%= render 'form_fields/multi_text', form: form, attribute: :based_near %>
  <%= render 'form_fields/multi_text', form: form, attribute: :related_url %>
  <%= render 'form_fields/multi_text', form: form, attribute: :source %>

  <div class="actions">
    <%= link_to 'Back', dashboard_work_version_file_list_path(@work_version), class: 'btn btn-secondary' %>
    <%= form.submit 'Save and Continue', class: 'btn btn-primary' %>
  </div>
<% end %>
