<p>
  <strong><%= WorkVersion.human_attribute_name('version_name') %>:</strong>
  <%= work_version.version_name %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('subtitle') %>:</strong>
  <%= work_version.subtitle %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('keywords') %>:</strong>
  <%= work_version.keywords.join(', ') %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('rights') %>:</strong>
  <%= work_version.rights %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('description') %>:</strong>
  <%= work_version.description %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('resource_type') %>:</strong>
  <%= work_version.resource_type %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('contributor') %>:</strong>
  <%= work_version.contributor %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('publisher') %>:</strong>
  <%= work_version.publisher %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('published_date') %>:</strong>
  <%= work_version.published_date %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('subject') %>:</strong>
  <%= work_version.subject %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('language') %>:</strong>
  <%= work_version.language %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('identifier') %>:</strong>
  <%= work_version.identifier %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('based_near') %>:</strong>
  <%= work_version.based_near %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('related_url') %>:</strong>
  <%= work_version.related_url %>
</p>

<p>
  <strong><%= WorkVersion.human_attribute_name('source') %>:</strong>
  <%= work_version.source %>
</p>
