<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('dashboard.works.index.heading'), dashboard_root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= truncate @work_version.title %> (<%= @work_version.display_version_long %>)</li>
  </ol>
</nav>

<h1><%= t('dashboard.diff.heading', work_version: @work_version.title) %></h1>
<h2>
  <%= @work_version.display_version_long %>
  <%= render WorkVersions::StatusBadgeComponent.new(work_version: @work_version) %>
</h2>

<div class="row">

  <div class="col-sm-7">
    <% @presenter.terms.each do |term| %>
      <p>
        <strong><%= WorkVersion.human_attribute_name(term) %>:</strong>
        <%= @presenter[term].to_s(:html).html_safe %>
      </p>
    <% end %>

    <% if @presenter.creators.present? %>
      <div>
        <p><strong><%= WorkVersion.human_attribute_name(:creators) %></strong></p>

        <% @presenter.renamed_creators.each do |alias_diff| %>
          <p><%= alias_diff.to_s(:html).html_safe %></p>
        <% end %>

        <% @presenter.deleted_creators.each do |creator| %>
          <p class="text-danger"><%= creator.alias %></p>
        <% end %>

        <% @presenter.added_creators.each do |creator| %>
          <p class="text-success"><%= creator.alias %></p>
        <% end %>
    <% end %>

    <% if @presenter.files.present? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('dashboard.work_versions.files.name') %></th>
            <th><%= t('dashboard.work_versions.files.size') %></th>
            <th><%= t('dashboard.work_versions.files.mime_type') %></th>
          </tr>
        </thead>
        <tbody>
          <% @presenter.renamed_files.each do |file| %>
            <tr>
              <td><%= file.title.to_s(:html).html_safe %></td>
              <td><%= number_to_human_size file.size %></td>
              <td><%= file.mime_type %></td>
            </tr>
          <% end %>
          <% @presenter.deleted_files.each do |file| %>
            <tr class="table-danger">
              <td><%= file.title %></td>
              <td><%= number_to_human_size file.size %></td>
              <td><%= file.mime_type %></td>
            </tr>
          <% end %>
          <% @presenter.added_files.each do |file| %>
            <tr class="table-success">
              <td><%= file.title %></td>
              <td><%= number_to_human_size file.size %></td>
              <td><%= file.mime_type %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="col-sm-5">
    <%= render partial: 'dashboard/works/sidebar_work', object: @work, locals: { active_version: @work_version } %>
  </div>
</div>
