<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('dashboard.works.index.heading'), dashboard_works_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= truncate @work_version.title %> (<%= @work_version.display_name %>)</li>
  </ol>
</nav>

<h1><%= @work_version.title %></h1>
<h2>
  <%= @work_version.display_name %>
  <%= render partial: 'status_badge', locals: { version: @work_version } %>
</h2>

<div class="row">
  <div class="col-sm-7">
    <%= render partial: 'show_fields', locals: { work_version: @work_version } %>
    <%= render partial: 'show_files', locals: { work_version: @work_version } %>
  </div>

  <div class="col-sm-5">
    <%= render partial: 'dashboard/works/sidebar_work', object: @work, locals: { active_version: @work_version } %>
  </div>
</div>
