<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1><%= t('mailers.actor.monthly_stats.heading', date: @presenter.ending_at.strftime('%B')) %></h1>
    <p>
      Dear <%= @presenter.display_name %>, <br> You had <%= @presenter.file_downloads %> new downloads last month across
      your <%= @presenter.total_files %> files in <%= t('application_name') %>.
    </p>
    <p>
      Interested in sharing, archiving, and preserving other work? Consider depositing any of the following in
      <%= link_to t('application_name'), 'https://scholarsphere.psu.edu/' %>
    </p>
    <ul>
      <li>
        Articles: Check <%= link_to 'SHERPA/RoMEO', 'http://www.sherpa.ac.uk/romeo/index.php' %> to determine which
        version of an article you can archive.
      </li>
      <li>Datasets</li>
      <li>Videos</li>
      <li>Software and analysis code</li>
      <li>Book chapters: Check your publishing agreement to see if you can deposit a contributed chapter.</li>
      <li>
        Books: Consider
        <%= link_to 'regaining copyright', 'https://www.authorsalliance.org/resources/rights-reversion-portal/' %>
        from your publisher so you can deposit an out-of-print book. You can also deposit any book that is openly
        licensed, such as an open access monograph bearing one of the Creative Commons licenses.
      </li>
    </ul>
  </body>
</html>
