<% primary_action = local_assigns.fetch(:primary_action, :save_and_continue) %>
<% secondary_action = current_user.admin? ? :admin_save : param_key %>

<footer class="footer footer--actions footer--fixed d-flex justify-content-center">
  <div>
    <% if allow_curation? %>
      <%= form.submit t("dashboard.form.actions.request_curation"), name: 'request_curation', class: 'btn btn-primary btn--rounded' %>
    <% end %>

    <% if allow_publish? %>
    <%= form.submit t("dashboard.form.actions.#{primary_action}"), name: primary_action, class: 'btn btn-primary btn--rounded' %>
    <% end %>

    <%= link_to t('dashboard.form.actions.cancel'), cancel_path, class: 'btn btn-outline-dark btn--rounded ml-2' %>
  </div>

  <%= form.button t("dashboard.form.actions.save_and_exit.#{secondary_action}"), name: 'save_and_exit', class: 'btn btn-outline-primary btn--rounded pull-left' %>

  <% if form.object.persisted? && policy(form.object).destroy? %>
    <%= render DeleteResourceButtonComponent.new(
          resource: form.object,
          html_class: 'btn btn-outline-danger btn--rounded pull-right',
          hide_if_published: true
        ) %>
  <% end %>
</footer>
