<%= render 'dashboard/form/details/common_work_version_required_fields', form: form %>

<div class="form-wrapper">
  <%= render 'form_fields/text', form: form, attribute: :subtitle %>
  <%= render 'form_fields/text_area', form: form, attribute: :publisher_statement %>
  <%= render 'dashboard/form/details/common_work_version_optional_fields', form: form %>
  <%= render 'form_fields/multi_text', form: form, attribute: :based_near %>
  <%= render 'form_fields/multi_text', form: form, attribute: :source %>
  <%= render 'form_fields/text', form: form, attribute: :version_name %>
</div>
