<div class="row row--md-mb-3">
  <div class="col-md">
    <h4 class="mb-2"><%= t('dashboard.home.intro.heading') %></h4>
    <div class="surface"><%= t('dashboard.home.intro.content') %></div>
  </div>

  <div class="col-md">
    <h4 class="mb-2"><%= t('dashboard.home.start.heading') %></h4>
    <div class="surface search">
      <div class="mt-2 text-center">
        <%= link_to 'Create New Work', dashboard_form_work_versions_path, class: 'btn btn-primary' %>
      </div>
      <div class="keyline keyline--center">
        <h4><%= t('dashboard.home.start.subheading') %></h4>
      </div>
      <div class="mt-2 text-center">
        <%= link_to t('dashboard.home.start.browse'), search_catalog_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
