<div id="document-<%= index_work_version.uuid %>"
     class="card card--horizontal mb-3"
     data-document-counter="<%= index_work_version_counter %>">
  <%= render ThumbnailComponent.new(resource: index_work_version) %>
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to index_work_version.title, dashboard_work_version_path(index_work_version) %>
    </h3>

    <p class="meta">
      <%= index_work_version.display_date %>
      <%= t('dashboard.works.index.by') %> <%= index_work_version.work.depositor.email %>
    </p>
    <p>
      <%= Work::Types.display(index_work_version.work_type) %>
      <%= link_to 'History', dashboard_work_history_path(index_work_version) %>
    </p>
    <div class="card-actions">
      <%= render VisibilityBadgeComponent.new(work: index_work_version) %>
      <%= render WorkVersions::VersionStatusBadgeComponent.new(work_version: index_work_version) if index_work_version.aasm_state.present? %>

      <% if policy(index_work_version).edit? %>
        <%= link_to edit_dashboard_work_version_path(index_work_version), class: 'btn btn-primary btn--icon' do %>
          <i class="material-icons">edit</i>
        <% end %>
      <% end %>

      <% if policy(index_work_version).destroy? %>
        <%= link_to dashboard_work_version_path(index_work_version),
                    method: :delete,
                    data: { confirm: t('dashboard.works.index.delete_confirm') },
                    class: 'btn btn-danger btn--icon' do %>
          <i class="material-icons">delete</i>
        <% end %>
      <% end %>

      <% if policy(index_work_version).new?(index_work_version) %>
        <%= link_to dashboard_work_work_versions_path(index_work_version),
                    method: :post,
                    class: 'btn btn-primary btn--icon' do %>
          <i class="material-icons">create_new_folder</i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
