<% content_for(:skip_links) do -%>
  <%= link_to t('blacklight.skip_links.first_result'), '#documents',
              class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
<% end %>

<% content_for(:sidebar) do -%>
  <%= render 'facets' %>
<% end %>

<% content_for(:top_section_heading) do %>
  <span class="navbar-brand navbar-brand--center slab-font"><%= t('navbar.heading.dashboard') %></span>
<% end %>

<div class="container-fluid">
  <h1 class="sr-only"><%= t('blacklight.search.header') %></h1>

  <%- if current_user.works.empty? && @response.empty? %>
    <%= render 'home' %>
  <%- else %>
    <%= render 'search_results' %>
  <%- end %>
</div>
