<div class="col-md">
  <h2 class="h4 mb-2"><%= t('shared.search.heading') %></h2>
  <div class="surface search">
    <%= form_tag search_action_url, method: :get do %>
      <div class="input-group input-group--icon mb-2">
        <label class="sr-only" for="q"><%= t('shared.search.label') %></label>
        <%= text_field_tag :q, params[:q], placeholder: t('shared.search.placeholder'),
                                           class: 'form-control',
                                           autocomplete: 'on' %>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="material-icons"><%= t('shared.search.submit') %></i>
          </button>
        </div>
      </div>
    <% end %>
    <div class="keyline keyline--center">
      <p><%= t('shared.search.subheading') %></p>
    </div>
    <div class="mt-2 text-center">
      <%= link_to t('shared.search.browse'), search_catalog_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
