<ul class="navbar-nav">
  <%= render_nav_actions do |config, action| %>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <% if has_user_authentication_provider? %>
    <% if current_user.guest? %>
      <li class="nav-item">
        <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %> (<%= current_user.access_id %>)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Works', dashboard_works_path, class: 'dropdown-item' %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
