<%= render(FilesVisibilityDetailComponent.new(work_version: work_version)) %>
<%= render(WithdrawnDetailComponent.new(work_version: work_version)) %>

<% if policy(work_version).download? %>
  <ul class="file-card">
    <% work_version.file_version_memberships.includes(:file_resource).each do |file| %>
      <li class="file-card__item">
        <div class="file-card__content">
          <%= render(FileDownloadLinkComponent.new(file_version_membership: file, resource_id: work_version.uuid)) %>
          <p class="meta mb-0">
            <span class="meta__size">size: <%= number_to_human_size file.size %></span> |
            <span class="meta__type">mime_type: <%= file.mime_type %></span> |
            <span class="meta__date">date: <%= file.file_resource.deposited_at.strftime('%Y-%m-%d') %></span>
            <%= render(FileSignatureComponent.new(file: file)) %>
            <span>|</span>
            <%= link_to 'Request alternate format', resource_alternate_format_request_path(file.id, resource_id: work_version.uuid) %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
