<% if policy(work_version).download? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('dashboard.work_versions.files.name') %></th>
        <th><%= t('dashboard.work_versions.files.size') %></th>
        <th><%= t('dashboard.work_versions.files.mime_type') %></th>
      </tr>
    </thead>
    <tbody>
      <% work_version.file_version_memberships.includes(:file_resource).each do |file| %>
      <tr>
        <td><%= link_to file.title, resource_download_path(file.id, resource_id: work_version.uuid) %></td>
        <td><%= number_to_human_size file.size %></td>
        <td><%= file.mime_type %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
