<% content_for :meta_tags do %>
  <meta name="description" content="<%= t('home.intro.content') %>">
<% end %>

<% content_for :navbar_heading do %>
  <h1 class="navbar-brand navbar-brand--center slab-font"><%= t('navbar.heading.home') %></h1>
<% end %>

<div class="container-fluid">
  <div class="row row--md-mb-3">
    <div class="col-md">
      <h2 class="h4 mb-2"><%= t('home.intro.heading') %></h2>
      <div class="surface">
        <%= t('home.intro.content') %>
        <%= link_to t('home.intro.read_more'), about_path %>.
      </div>
    </div>

    <%= render 'shared/search_or_browse' %>

  </div>
</div>

<%= render 'featured_resources', resources: @featured_resources if @featured_resources.present? %>
