<% content_for :meta_tags do %>
  <meta name="description" content="<%= t('home.intro.content') %>">
<% end %>

<% content_for :top_section_heading do %>
  <div class="navbar-brand navbar-brand--center slab-font">
    <p class="home-heading"><%= t('navbar.heading.home') %></p>
    <p class="home-subtitle"><%= t('navbar.heading.home_subtitle') %></p>
  </div>
<% end %>

<div class="container-fluid">
  <div class="row row--md-mb-3">
    <%= render 'shared/search_or_browse' %>
  </div>
</div>

<%= render 'featured_resources', resources: @featured_resources if @featured_resources.present? %>
