<h1>Display DOI variations</h1>

<table class="table meta-table">
  <tbody>

    <tr>
      <th>Mintable</th>
      <td><%= render mintable %></td>
    </tr>

    <tr>
      <th>Waiting to Mint</th>
      <td><%= render waiting %></td>
    </tr>

    <tr>
      <th>Minting</th>
      <td><%= render minting %></td>
    </tr>

    <tr>
      <th>Mint Error</th>
      <td><%= render error %></td>
    </tr>

    <tr>
      <th>Valid DOI</th>
      <td><%= render valid %></td>
    </tr>

    <tr>
      <th>Unmanaged DOI</th>
      <td><%= render unmanaged %></td>
    </tr>

    <tr>
      <th>Invalid DOI</th>
      <td><%= render invalid %></td>
    </tr>
  </tbody>
</table>
