<div id="document-<%= document.id %>"
     class="card card--horizontal mb-3"
     data-document-counter="<%= document_counter %>"
     itemscope itemtype="<%= document.itemtype %>">
  <%= render ThumbnailComponent.new(resource: document) %>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-md-8">
        <h3 class="card-title">
          <%= link_to document.title, resource_path(document.id) %>
        </h3>
      </div>
      <div class="col-md-4">
        <div class="float-md-right">
          <%= render WorkVersions::VersionStatusBadgeComponent.new(work_version: document) %>
        </div>
      </div>
    </div>

    <%= render WorkVersionMetadataComponent.new(work_version: document, mini: true) %>
  </div>
</div>
