<div id="document-<%= document.id %>"
     class="card card--horizontal mb-3"
     data-document-counter="<%= document_counter %>"
     itemscope itemtype="<%= document.itemtype %>">
  <%= render ThumbnailComponent.new(resource: document) %>
  <div class="card-body">
    <h3 class="card-title">
      <%= link_to document.title, resource_path(document.id) %>
    </h3>

    <p class="meta">
      <%= t('activerecord.attributes.work_version.published_date') %>
      <time><%= document.published_date %></time>
    </p>
    <p><%= document.display_work_type %></p>
    <div class="card-actions">
      <%= render VisibilityBadgeComponent.new(work: document) %>
      <%= render WorkVersions::VersionStatusBadgeComponent.new(work_version: document) if document.aasm_state.present? %>
    </div>
  </div>
</div>
