<h2 class="visually-hidden"><%= t('blacklight.search.search_results') %></h2>

<div class="action-bar mb-3">
  <%= render 'search_form' %>
</div>

<div class="action-bar mb-3">
  <%= render 'constraints' %>
</div>

<div class="action-bar mb-3">
  <%= render 'did_you_mean' %>
  <%= render partial: 'paginate_compact', object: @response if show_pagination? %>
  <%= render_results_collection_tools wrapping_class: 'search-widgets' %>
</div>

<%- if @response.empty? %>
  <%= render 'zero_results' %>
<%- else %>
  <%= render_document_index @response.documents %>
<%- end %>

<div class="action-bar mb-3">
  <%= render 'results_pagination' %>
</div>
