<div class="search">
  <%= form_tag search_action_url,
               method: :get,
               role: 'search',
               'aria-label' => t('blacklight.search.form.submit') do %>

    <%= render Blacklight::HiddenSearchStateComponent.new(
          params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)
        ) %>

    <label for="search_field" class="visually-hidden"><%= t('blacklight.search.form.search_field.label') %></label>

    <div class="input-group input-group--icon">
      <%= select_tag(:search_field,
                     options_for_select(blacklight_config.search_fields.map { |key, field| [field.label, key] },
                                        h(params[:search_field])),
                     title: t('blacklight.search.form.search_field.title'),
                     id: 'search_field',
                     class: 'form-select') %>

      <label for="q" class="visually-hidden"><%= t('blacklight.search.form.search.label') %></label>

      <%= text_field_tag :q, params[:q],
                         placeholder: t('blacklight.search.form.search.placeholder'),
                         class: 'form-control',
                         id: 'q',
                         autocomplete: 'on' %>

      <div class="input-group-append">
        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
          <i class="material-icons">search</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
