<div
  class="mb-4"
  data-controller="uppy"
  data-uppy-input-name="work_version[file_resources_attributes][][file]"
  data-uppy-blacklist="<%= form.object.file_version_memberships.map(&:title).to_json %>"
  data-uppy-parent-form="file-uploader">
</div>
<% if deposit_pathway.data_and_code? %>
  <p>
    <strong><%= t('dashboard.form.details.readme.header') %></strong>
    <ul>
      <li><%= t('dashboard.form.details.readme.format') %><%= link_to t('dashboard.form.details.readme.documentation'), 'https://docs.scholarsphere.psu.edu/guides/writing-readme/' %>.</li>
      <li><%= t('dashboard.form.details.readme.zip') %></li>
    </ul>
  </p>
<% end %>

<% if form.object.file_version_memberships.any? %>
  <%= render 'uploaded_file_list', file_version_memberships: form.object.file_version_memberships %>
  <% if form.object.file_version_memberships.any?(&:accessibility_failures?) %>
    <%= 'Link to Remediation Assistance' %>
  <% end %>
<% end %>

<%# Dude what? In order for Save and Continue to work as a "next" button, i.e.
    without the user having uploaded any files, our controller requires
    params[:work_version] to be present. That's what this does. It's hacky but
    good enough for now %>
<%= form.hidden_field :id %>
