<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-4"><%= t('dashboard.file_list.edit.name') %></th>
      <%= "<th class='col-sm-4'>#{t('dashboard.works.edit.alt_text.heading')}</th>".html_safe if current_user.admin? && work.latest_has_image_file_resource? %>
      <th><%= t('dashboard.file_list.edit.accessibility_score') %></th>
      <th><%= t('dashboard.file_list.edit.accessibility_report') %></th>
    </tr>
  </thead>
  <tbody class="work-files__file">
    <% work.latest_version.file_version_memberships.each do |membership| %>
       <tr data-controller="accessibility-result"
            data-accessibility-result-id="<%= membership.id %>"
            data-accessibility-result-mime-type="<%= membership.mime_type %>"
            data-accessibility-result-score-present="<%= membership.accessibility_score_present? %>"
            data-accessibility-result-error-present="<%= membership.accessibility_error_present? %>"
            data-accessibility-result-score="<%= membership.accessibility_score %>"
            data-accessibility-result-report-url="<%= membership.accessibility_score_present? ? membership.accessibility_report_download_url : '' %>"
            id="<%= dom_id membership %>">
        <td>
          <span class="filename"><%= membership.title %></span>
        </td>
        <% if current_user.admin? %>
          <% if membership.file_resource.image? %>
            <td>
              <%= render partial: 'dashboard/form/files/inline_alt_text_editor',
                         locals: { file_resource: membership.file_resource } %>
            </td>
          <% elsif work.latest_has_image_file_resource? %>
            <td></td>
          <% end %>
        <% end %>
        <td>
          <span data-target="accessibility-result.score"></span>
        </td>
        <td>
          <span data-target="accessibility-result.link">
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
