<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('dashboard.file_list.edit.name') %></th>
      <%= '<th>Alt text</th>'.html_safe if current_user.admin? %>
      <th><%= t('dashboard.file_list.edit.accessibility_score') %></th>
      <th><%= t('dashboard.file_list.edit.accessibility_report') %></th>
    </tr>
  </thead>
  <tbody class="work-files__file">
    <% file_version_memberships.each do |membership| %>
       <tr data-controller="accessibility-result"
            data-accessibility-result-id="<%= membership.id %>"
            data-accessibility-result-mime-type="<%= membership.mime_type %>"
            data-accessibility-result-score-present="<%= membership.accessibility_score_present? %>"
            data-accessibility-result-error-present="<%= membership.accessibility_error_present? %>"
            data-accessibility-result-score="<%= membership.accessibility_score %>"
            data-accessibility-result-report-url="<%= membership.accessibility_score_present? ? membership.accessibility_report_download_url : '' %>"
            id="<%= dom_id membership %>">
        <td>
          <span class="filename"><%= membership.title %></span>
        </td>
        <% if current_user.admin? %>
        <td>
          <%= render partial: 'dashboard/form/files/inline_alt_text_editor', locals: { membership: membership } %>
        </td>
        <% end %>
         <td>
          <span data-target="accessibility-result.score"></span>
        </td>
        <td>
          <span data-target="accessibility-result.link">
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
