<%- content_for :page_title do %>
  <%= work_version.title %>
<% end %>

<%- content_for :meta_tags do %>
  <%= render 'meta_tags', resource: work_version, uuid: params[:id] %>
<% end %>

<%= content_for :navbar_items do %>
  <%= render WorkVersions::VersionNavigationDropdownComponent.new(
        current_version: work_version,
        work: work_version.decorated_work
      ) %>

  <% if policy(work_version.work).edit? %>
    <li class="nav-item">
      <%= render LinkDisabledByTooltipComponent.new(
            enabled: policy(work_version).edit?,
            text: I18n.t('resources.work_version.edit_button.text', version: work_version.display_version_short),
            path: dashboard_form_work_version_details_path(work_version.id),
            tooltip: I18n.t('resources.work_version.edit_button.tooltip'),
            class_list: 'btn btn-outline-light btn--squish mr-lg-2 qa-edit-version'
          ) %>
    </li>

    <li class="nav-item">
      <%= render LinkDisabledByTooltipComponent.new(
            enabled: policy(work_version).new?,
            text: I18n.t('resources.work_version.create_button.text', version: work_version.display_version_short),
            path: dashboard_work_work_versions_path(work_version.work),
            method: :post,
            tooltip: I18n.t('resources.work_version.create_button.tooltip'),
            class_list: 'btn btn-outline-light btn--squish mr-lg-4 qa-create-draft'
          ) %>
    </li>

    <li class="nav-item">
      <%= link_to(edit_dashboard_work_path(work_version.work),
                  class: 'btn btn-outline-light btn--squish mr-lg-2 btn--settings') do %>
          <%= t('resources.settings_button.text', type: 'Work') %>
          <i class="material-icons">settings</i>
      <% end %>
    </li>

  <% end %>

  <% if policy(work_version).destroy? %>
    <%= link_to t('dashboard.form.actions.destroy.button'),
                dashboard_work_version_path(work_version),
                class: 'btn btn-danger btn--squish mr-lg-2',
                method: :delete,
                data: { confirm: t('dashboard.form.actions.destroy.confirm') } %>
  <% end %>

<% end %>

<div class="container-fluid">

  <% unless (work_version.latest_published_version? || work_version.draft? || work_version.withdrawn?) %>
    <div class="alert alert-warning" role="alert">
      <%= t 'resources.old_version.message' %>
      <%= link_to t('resources.old_version.link'),
                  resource_path(work_version.work.uuid),
                  class: 'alert-link' %>
    </div>
  <% end %>

  <article class="row">
    <div class="col-lg-7">
      <h1 class="h2 mb-3"><%= work_version.title %></h1>
      <p><%= work_version.description %></p>

      <div class="keyline keyline--left mb-3">
        <h2 class="h4"><%= t('resources.files') %></h2>
      </div>
      <%= render 'shared/work_version_files', work_version: work_version %>

    </div>
    <div class="col-lg-5">
      <div class="keyline keyline--left">
        <h2 class="h4"><%= t('resources.metadata') %></h2>
      </div>

      <%= render WorkVersionMetadataComponent.new(work_version: work_version) %>

      <div class="keyline keyline--left">
        <h2 class="h4"><%= t('resources.analytics') %></h2>
      </div>
      <div class='analytics-chart-container' data-url="<%= analytics_path %>"></div>

      <div class="keyline keyline--left mb-3">
        <h2 class="h4"><%= t 'resources.collections' %></h2>
      </div>

      <%= render 'shared/work_version_collections', collections: work_version.work.collections %>

    </div>
  </article>

  <div class="row mt-3">
    <div class="col">
      <div class="keyline keyline--left mb-3">
        <h2 class="h4"><%= t 'resources.work_history' %></h2>
      </div>
      <%= render WorkHistories::WorkHistoryComponent.new(work: work_version.work) %>
    </div>
  </div>
</div>
