<%- content_for :page_title do %>
  <%= work_version.title %>
<% end %>

<%- content_for :meta_tags do %>
  <%= render 'meta_tags', resource: work_version, uuid: params[:id] %>
<% end %>

<%= content_for :navbar_items do %>
  <% if current_user.admin? %>
    <li class="nav-item py-1">
      <a class="btn btn-outline-light btn--squish mr-lg-2 qa-edit-version"
          href="<%= dashboard_form_work_version_details_path(work_version.id) %>">
        <%= I18n.t('resources.work_version.admin_edit_button', version: work_version.display_version_short) %>
      </a>
    </li>
  <% end %>

  <% if policy(work_version.work).edit? %>
    <li class="nav-item py-1">
      <%= render ResourceEditButton.new(resource: work_version, policy: policy(work_version.work.representative_version)) %>
    </li>

    <li class="nav-item py-1">
      <%= render ResourceSettingsButton.new(resource: work_version.work) %>
    </li>
  <% end %>
<% end %>

<%- content_for :detail_components do %>
  <%= render WorkVersionDetailComponent.new(work_version: work_version) %>
<% end %>

<div class="container-fluid">
  <article class="row">
    <div class="col-lg-7">
      <h1 class="h2 mb-3"><%= work_version.title %></h1>

      <%= work_version.description_html %>

      <div class="keyline keyline--left mb-3">
        <h2 class="h4"><%= t('resources.files') %></h2>
      </div>
      <%= render 'shared/work_version_files', work_version: work_version %>

    </div>
    <div class="col-lg-5">
      <div class="keyline keyline--left">
        <h2 class="h4"><%= t('resources.metadata') %></h2>
      </div>

      <%= render WorkVersionMetadataComponent.new(work_version: work_version) %>

      <div class="keyline keyline--left">
        <h2 class="h4"><%= t('resources.versions') %></h2>
      </div>

      <%= render WorkVersions::VersionNavigationComponent.new(
            current_version: work_version,
            work: work_version.decorated_work
          ) %>

      <div class="keyline keyline--left">
        <h2 class="h4"><%= t('resources.analytics') %></h2>
      </div>
      <div class='analytics-chart-container' data-url="<%= analytics_path %>"></div>

      <div class="keyline keyline--left mb-3">
        <h2 class="h4"><%= t 'resources.collections' %></h2>
      </div>

      <%= render 'shared/work_version_collections', collections: work_version.work.collections %>

    </div>
  </article>

  <div class="row mt-3">
    <div class="col">
      <div class="keyline keyline--left mb-3">
        <h2 class="h4"><%= t 'resources.work_history' %></h2>
      </div>
      <%= render WorkHistories::WorkHistoryComponent.new(
            work: work_version.work,
            current_version: work_version
          ) %>
    </div>
  </div>
</div>
