<div class="container-fluid">

<h1><%= I18n.t('resources.request_alternate_format_button.header', title: @request.title) %></h1>
<%= form_with model: @request, url: resource_create_alternate_format_request_path, local: true do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control', required: true, placeholder: 'Please enter the format in which you would like to receive this document.' %>
    </div>
    <div class="form-group">
        <%= f.hidden_field :url %>
    </div>
    <div class="form-group">
        <%= f.hidden_field :title %>
    </div>
    <div class="form-group">
        <%= f.submit I18n.t('resources.request_alternate_format_button.text'), class: 'btn btn-primary' %>
    </div>
    <% end %>
</div>
