<div class="container">
  <div class="row">
    <div class="col" data-controller="unsaved-changes" data-unsaved-changes-prompt="<%= t 'dashboard.work_form.unsaved_changes_prompt' %>">
      <h4 class="text-center mb-4"><%= t 'dashboard.work_form.heading.edit' %></h4>
      <%= render WorkFormTabsComponent.new(work_version: @work_version, current_controller: controller_name) %>

      <div class="tab-content">
        <div class="tab-pane active show">

          <%= form_with(model: @work_version, url: dashboard_work_form_files_path(@work_version), local: true, id: 'file-uploader', data: { target: 'unsaved-changes.form' }) do |form| %>
            <%= render 'fields', form: form %>

            <%= render 'dashboard/work_form/shared/action_footer', form: form, publish: false %>
          <% end %>

        </div>
      </div>
    </div>
</div>
