<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center mb-4"><%= t 'dashboard.work_form.heading.edit' %></h4>
      <%= render WorkFormTabsComponent.new(work_version: @work_version, current_controller: controller_name) %>

      <div class="tab-content">
        <div class="tab-pane active show">

          <%= form_with(model: @work_version, url: dashboard_work_form_files_path(@work_version), local: true, id: 'file-uploader') do |form| %>
            <%= render 'fields', form: form %>

            <% if form.object.file_version_memberships.any? %>
              <%= render 'uploaded_file_list', file_version_memberships: form.object.file_version_memberships %>
            <% end %>

            <%= render 'dashboard/work_form/shared/action_footer', form: form, publish: false %>
          <% end %>

        </div>
      </div>
    </div>
</div>
