<div class="container">
  <div class="row">
    <div class="col" data-controller="unsaved-changes" data-unsaved-changes-prompt="<%= t 'dashboard.form.unsaved_changes_prompt' %>">
      <h4 class="text-center mb-4"><%= t("dashboard.form.heading.#{param_key}.edit") %></h4>

      <%= render FormTabsComponent.new(resource: @resource, current_controller: controller_name) %>

      <div class="tab-content">
        <div class="tab-pane active show">

          <%= form_with(
                model: @resource,
                url: dashboard_form_members_path(@resource),
                local: true,
                data: {
                  target: 'unsaved-changes.form'
                }
              ) do |form| %>

            <%= render FormErrorMessageComponent.new(form: form) %>

            <%= render 'works', form: form %>

            <%= render 'search' %>

            <%= render 'dashboard/form/shared/action_footer', form: form, primary_action: :finish %>
          <% end %>

        </div>
      </div>
    </div>
</div>
