<div class="work-list--work">
  <h3><%= index_work.latest_version.title %></h3>
  <h5><%= Work::Types.display(index_work.work_type) %></h5>
  <div class="work-list--versions">
    <% index_work.versions.each do |version| %>
      <div class="work-version row">
        <div class="work-version--metadata col">
          <%= link_to version.display_name, '#TODO' %>
          <%= version.display_date %>
          <%= t('dashboard.works.index.by') %> <%= version.work.depositor.email %>
        </div>

        <div class="work-version--actions col-lg-3 col-sm-5">
          <span class="badge badge-primary"><%= version.aasm_state %></span>

          <%= link_to t('dashboard.works.index.edit'), '#TODO' if policy(version).edit? %>
          <%= link_to t('dashboard.works.index.delete'), '#TODO', class: 'text-danger' if policy(version).delete? %>
          <%= link_to t('dashboard.works.index.new_version'), '#TODO' if policy(version).new?(index_work.latest_version) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
