<h1><%= t('dashboard.works.new.heading') %></h1>

<%= form_with(model: @work, url: dashboard_works_url, local: true) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('dashboard.works.new.error_message', error: pluralize(form.object.errors.count, 'error')) %></h2>

      <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for(:versions, form.object.versions.first) do |work_versions_form| %>
    <div class="form-group">
      <%= work_versions_form.label :title %>
      <div class="input-group">
        <%= work_versions_form.text_field :title, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :work_type %>
    <div class="input-group">
      <%= form.select :work_type, Work::Types.options_for_select_box, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', dashboard_works_path, class: 'btn btn-text' %>
  </div>
<% end %>
