<% content_for :top_section_heading do %>
  <h1 class="navbar-brand navbar-brand--center slab-font"><%= t('dashboard.profiles.edit.heading') %></h1>
<% end %>

<div class="container">
  <div class="row">

    <%= form_with(model: @actor, url: dashboard_profile_path, local: true) do |form| %>
      <%= render FormErrorMessageComponent.new(
            form: form,
            heading: t('dashboard.profiles.edit.error_message', error: pluralize(@actor.errors.count, 'error'))
          ) %>

      <div class="form-wrapper">
        <%= render 'form_fields/text', form: form, attribute: :display_name, required: true %>
        <%= render 'form_fields/text', form: form, attribute: :given_name %>
        <%= render 'form_fields/text', form: form, attribute: :surname %>
        <%= render 'form_fields/text', form: form, attribute: :email %>
        <%= render 'form_fields/text',
                   form: form,
                   attribute: :orcid,
                   data: { controller: 'inputmask' },
                   readonly: true %>
        <%= render 'user_fields', form: form %>
        <%= render 'admin_fields', form: form if @actor.user.admin_available? %>
        <div class="actions">
          <%= form.submit 'Save', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', :back, class: 'btn btn-text' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
