<% form_url = @collection.persisted? ? dashboard_collection_path(@collection) : dashboard_collections_path -%>
<%= form_with(model: @collection, url: form_url, local: true) do |form| %>
<% if form.object.errors.any? %>
<div id="error_explanation">
    <h2><%= t('dashboard.collections.edit.error_message', error: pluralize(form.object.errors.count, 'error')) %></h2>

    <ul>
        <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= render 'form_fields/text', form: form, attribute: :title %>
<%= render 'form_fields/text', form: form, attribute: :subtitle %>

<div id="creator_aliases" class="mb-3">
    <%= form.fields_for :creator_aliases do |creator_alias| %>
    <%= render 'creator_alias_fields', f: creator_alias %>
    <% end %>
    <div class="links">
        <%= link_to_add_association t('dashboard.collections.edit.add_creator'),
                                    form,
                                    :creator_aliases,
                                    # Ensure the associated Creator object exists, so its fields are rendered
                                    wrap_object: ->(creator_alias) { creator_alias.tap(&:build_actor) },
                                    class: 'btn btn-outline-success btn-sm' %>
    </div>
</div>

<%= render 'form_fields/multi_text', form: form, attribute: :keyword %>
<%= render 'form_fields/text_area', form: form, attribute: :description %>
<%= render 'form_fields/multi_text', form: form, attribute: :contributor %>
<%= render 'form_fields/multi_text', form: form, attribute: :publisher %>
<%= render 'form_fields/text', form: form, attribute: :published_date %>
<%= render 'form_fields/multi_text', form: form, attribute: :subject %>
<%= render 'form_fields/multi_text', form: form, attribute: :language %>
<%= render 'form_fields/multi_text', form: form, attribute: :identifier %>
<%= render 'form_fields/multi_text', form: form, attribute: :based_near %>
<%= render 'form_fields/multi_text', form: form, attribute: :related_url %>
<%= render 'form_fields/multi_text', form: form, attribute: :source %>

<h3><%= t('dashboard.collections.works') %></h3>
<%= form.collection_check_boxes :work_ids, works, :id, ->(w) { w.latest_version.title } do |builder| %>
  <div class="form-check">
    <%= builder.check_box class: 'form-check-input' %>
    <%= builder.label class: 'form-check-label' %>
  </div>
<% end %>

<div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', dashboard_collections_path, class: 'btn btn-text' %>
</div>
<% end %>
