<div class="collection-list__collection row">
  <div class="collection__metadata col">
    <h3>
      <%= index_collection.title %>
    </h3>
    <div class="collection__work-list">
      <% index_collection.works.each do |work| %>
        <div class="collection__work"><%= work.latest_version.title %></div>
      <% end %>
    </div>
  </div>
  <div class="collection__actions col-lg-3 col-sm-5">
    <% if policy(index_collection).show? %>
      <%= link_to t('dashboard.collections.index.show'),
                  dashboard_collection_path(index_collection) %>
    <% end %>
    <% if policy(index_collection).edit? %>
      <%= link_to t('dashboard.collections.index.edit'),
                  edit_dashboard_collection_path(index_collection) %>
    <% end %>
    <% if policy(index_collection).destroy? %>
      <%= link_to t('dashboard.collections.index.delete'),
                  dashboard_collection_path(index_collection),
                  method: :delete,
                  data: { confirm: t('dashboard.collections.index.delete_confirm') },
                  class: 'text-danger' %>
    <% end %>
  </div>
</div>
