<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('dashboard.collections.index.heading'), dashboard_collections_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= truncate @collection.title %></li>
  </ol>
</nav>

<h1>
  <%= @collection.title %>
</h1>

<div class="row">
  <div class="col-sm-7">
    <%= render CollectionMetadataComponent.new(collection: @collection) %>
    <%= render 'shared/collection_works', collection: @collection %>
  </div>
</div>
