<% if thumbnail_form.resource.auto_generated_thumbnail_url.present? %>

  <div class="row p-1">
    <div class="col-sm-2"><hr></div>
    <div class="col-auto align-self-center"><%= t('.divider') %></div>
    <div class="col-sm-6"><hr></div>
  </div>

  <div class="form-check auto-generate-thumbnail">
    <%= form.check_box :auto_generate_thumbnail,
                       class: 'form-check-input' %>

    <%= form.label :auto_generate_thumbnail, t('.explanation'), class: 'form-check-label' %>
  </div>
  <div class="p-3">
    <%= render FieldHintComponent.new(form: form, attribute: :auto_generate_thumbnail) %>
    <div class="thumbnail-image p-1">
      <img src="<%= thumbnail_form.resource.auto_generated_thumbnail_url %>">
    </div>
  </div>
<% end %>
