<%- type = editors_form.resource.class.name.downcase -%>
<%- depositor = editors_form.resource.depositor -%>

<p><%= t('.explanation', type: type) %></p>
<p><%= t('.depositor',
         type: type,
         depositor_name: depositor == current_user.actor ? 'You' : depositor.display_name,
         depositor_id: depositor.psu_id) %></p>

<%- editors_form_id = "edit_editors_#{dom_id editors_form.resource}" %>
<%= form_for editors_form,
             url: url,
             method: :patch,
             remote: false,
             html: { id: editors_form_id, class: 'edit-resource-editors' } do |form| %>

  <%= hidden_field_tag 'form_id', editors_form_id %>
  <%= render FormErrorMessageComponent.new(form: form) %>

  <%= render 'form_fields/multi_text', form: form, attribute: :edit_users %>
  <%= render 'form_fields/select',
             form: form,
             attribute: :edit_groups,
             options_for_select: form.object.group_options,
             include_blank: true,
             multiple: true %>

  <div class="form-group mb-3">
    <div class="form-check">
      <%= form.check_box :notify_editors, class: 'form-check-input' %>
      <%= form.label :notify_editors, t('.notify_editors'), class: 'form-check-label' %>
    </div>
  </div>

  <div class="actions mt-1 mb-3">
    <%= form.submit t('.submit_button'), class: 'btn btn-primary' %>
  </div>
<% end %>
