<%- thumbnail_form_id = "edit_thumbnail_#{dom_id thumbnail_form.resource}" %>
<%= form_for thumbnail_form,
             url: url,
             method: :patch,
             remote: false,
             html: { id: thumbnail_form_id, class: 'edit-thumbnail' } do |form| %>

  <div class="row p-1">
    <div class="col-sm-4 border-right d-flex align-items-center justify-content-center">
      <i class='material-icons material-icons--thumbnail'><%= ThumbnailComponent.new(resource: thumbnail_form.resource).icon %></i>
    </div>

    <div class="col-sm-4 d-flex align-items-center justify-content-center">
      <%= render partial: 'dashboard/shared/uploaded_thumbnail', locals: { thumbnail_form: thumbnail_form,
                                                                           form: form } %>
    </div>

    <div class="col-sm-4 border-left d-flex align-items-center justify-content-center">
      <%= render partial: 'dashboard/shared/auto_generated_thumbnail', locals: { thumbnail_form: thumbnail_form } %>
    </div>
  </div>

  <%= render partial: 'dashboard/shared/thumbnail_form_fields', locals: { thumbnail_form: thumbnail_form, form: form } %>

  <%= hidden_field_tag 'form_id', thumbnail_form_id %>
  <%= render FormErrorMessageComponent.new(form: form) %>

  <div class="actions mt-1 mb-3">
    <%= form.submit t('.submit_button'), class: 'btn btn-primary' %>
  </div>
<% end %>
