<p><%= t('.explanation') %></p>
<div class="row p-2">
  <div
    class="mb-2 col-sm-4"
    data-controller="uppy"
    data-uppy-input-name="thumbnail_form[thumbnail_upload]"
    data-uppy-parent-form="<%= thumbnail_form_id %>">
  </div>

  <% if thumbnail_form.resource.thumbnail_upload.present? %>
    <div class="col-sm-5">
      <p><%= t('.display') %></p>
      <div class="thumbnail-image m-2">
        <img src="<%= thumbnail_form.resource.thumbnail_upload.file_resource.thumbnail_url %>">
      </div>
      <table class="table">
        <thead>
        <tr>
          <th><%= t('.file_table_header') %></th>
        </tr>
        </thead>
        <tbody class="work-files__file">
        <tr id="<%= dom_id thumbnail_form.resource.thumbnail_upload %>">
          <td>
            <span class="filename"><%= thumbnail_form.resource.thumbnail_upload.file_resource.file_data.dig('metadata', 'filename') %></span>
          </td>
          <td>
            <%= link_to t('.delete'),
                        url + '?' + { thumbnail_form: { _destroy: true } }.to_param,
                        method: :patch,
                        class: 'remove',
                        data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
