<li
  id="<%= element_id %>"
  class="version-timeline__change version-timeline__change--file version-timeline__change--<%= event_class %>">

  <div class="version-timeline__change-action">
    <%= action %>
    <small class="work-history__files">
      <% if rename? %>
        <code><%= previous_filename %></code>
        <%= t 'dashboard.work_history.renamed_to.html' %>
      <% end %>
      <code><%= current_filename %></code>
    </small>
  </div>

  <p class="version-timeline__change-metadata">
    <span class="version-timeline__change-timestamp"><%= timestamp %></span>
    <%= t 'dashboard.work_history.by' %>
    <span class="version-timeline__change-user"><%= user_name %></span>
  </p>
</li>
