<li id="<%= element_id %>" class="version-timeline__change version-timeline__change--work-version">
  <div class="version-timeline__change-action">
    <%= action %>
    <% if changed_attributes.any? %>
      <span class="version-timeline__change-changed-attributes"><%= changed_attributes_truncated %></span>

      <span class="badge rounded-pill bg-primary badge--nudge-up"><a data-bs-toggle="collapse" href="#<%= diff_id %>"><%= t 'dashboard.work_history.show_diff' %></a></span>
    <% end %>
  </div>

  <p class="version-timeline__change-metadata">
    <span class="version-timeline__change-timestamp"><%= timestamp %></span>
    <%= t 'dashboard.work_history.by' %>
    <span class="version-timeline__change-user"><%= user_name %></span>
  </p>

  <% if changed_attributes.any? %>
    <div id="<%= diff_id %>" class="version-timeline__diff collapse">
      <%# @todo make the diff its own component? %>
      <% diff_presenter.hash.each do |term, value| %>
        <span class="font-size-lg"><%= WorkVersion.human_attribute_name(term) %></span>
        <%= value.to_s(:html).html_safe %>
      <% end %>
    </div>

  <% end %>
</li>
