<li class="nav-item dropdown dropdown--navbar-action dropdown--versions mr-lg-4">
  <button class="btn btn-primary dropdown-toggle btn--square btn--expand" type="button" id="settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_version.display_version_short %> <%= render WorkVersions::StatusBadgeComponent.new(work_version: current_version, invert: true) %>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settings">
    <% drop_down_menu_options.each do |version, path, classes| %>
      <%= link_to path, class: "dropdown-item #{classes}" do %>
        <%= version.display_version_short %> <%= render WorkVersions::StatusBadgeComponent.new(work_version: version) %>
      <% end %>
    <% end %>
  </div>
</li>
