<div class="row row--md-reduce">
  <div class="col-10 offset-2">
    <div class="form-wrapper form-wrapper--wide">
      <div class="keyline keyline--left mb-3">
        <h4><%= t('dashboard.form.contributors.edit.search_heading') %></h4>
      </div>
    </div>
  </div>
</div>

<div class="row row--md-reduce">
  <div class="col-10 offset-2">
    <div class="form-group"
         data-controller="autocomplete"
         data-autocomplete-search="/authorities/search/persons">

      <template data-target="autocomplete.emptyResultTemplate">
        <%= t('dashboard.form.contributors.edit.empty_result') %>
      </template>

      <template data-target="autocomplete.lastOptionTemplate">
        <%= t('dashboard.form.contributors.edit.last_option') %>
      </template>

      <template data-target="autocomplete.suggestionTemplate">
        <strong>{{display_name}}</strong>
        <small class="pl-1">{{additional_metadata}}</small>
        <span class="sr-only">
          Search result {{result_number}} of {{total_results}}. Press enter to add this creator to the form.
        </span>
      </template>

      <input type="text"
             class="form-control"
             id="search-creators"
             aria-describedby="search-creators-description"
             data-target="autocomplete.field"
             placeholder="<%= t('dashboard.form.contributors.edit.placeholder') %>">

             <label for="search-creators" class="sr-only">
               <%= t('dashboard.form.contributors.edit.search_label') %>
             </label>
             <small id="search-creators-description" class="form-text text-muted">
               <%= t('dashboard.form.contributors.edit.search') %>
               <span class="sr-only">
                 <%= t('dashboard.form.contributors.edit.reader_hint') %>
               </span>
             </small>
    </div>
  </div>
</div>
