<nav class="navbar main-nav navbar-expand-lg navbar-dark bg-dark-blue pr-0">
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-toggle"
          aria-controls="navbar-toggle"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= yield :navbar_heading %>

  <div class="collapse navbar-collapse" id="navbar-toggle">
    <ul class="navbar-nav">

      <%= yield :navbar_items %>

      <% if current_user.guest? %>

        <li class="nav-item">
          <%= link_to t('blacklight.header_links.login'), new_user_session_path,
                      class: 'btn btn-primary btn--collapse-normal btn--square btn--expand' %>
        </li>

      <% else %>

        <%= render DropdownMenuComponent.new(id: 'settings', label: current_user.display_name) do %>
          <%= link_to_dropdown_item('Profile', edit_dashboard_profile_path) %>
          <%= link_to_dropdown_item('Dashboard', dashboard_root_path) %>
          <div class="dropdown-divider"></div>
          <%= link_to_dropdown_item('Logout', destroy_user_session_path) %>
        <% end %>

      <% end %>

    </ul>
  </div>
</nav>
