<% if current_user.guest? %>

  <li class="nav-item">
    <%= link_to t('blacklight.header_links.login'), user_azure_oauth_omniauth_authorize_path, method: :post, class: 'nav-link' %>
  </li>

<% else %>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="topbarUsername"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      <%= current_user.display_name %>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="topbarUsername">
      <%= link_to_dropdown_item('Profile', edit_dashboard_profile_path) %>
      <%= link_to_dropdown_item('Dashboard', dashboard_root_path) %>
      <%= link_to_dropdown_item('Create New Work', dashboard_work_form_new_path) %>
      <% if current_user.admin? %>
        <div class="dropdown-divider"></div>
        <%= link_to_dropdown_item('Sidekiq', admin_sidekiq_web_path, target: :_blank) %>
        <%= link_to_dropdown_item('Health Checks', '/health/all.json', target: :_blank) %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to_dropdown_item('Logout', destroy_user_session_path) %>
    </div>
  </li>

<% end %>
